#wrap
  #content
    / /// CONTENT  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    #page-header
      .row
        .span12
          %h2 About us
        / end .span12
      / end .row
    / end #page-header
    .row
      .span12
        %h3.headline
          %span Who we are
      / end .span12
    / end .row
    .row
      .span4
        %p
          Team Synergene represents a comprehensive knowledge pool of globally experienced techno-commercial experts with proven track record in International Marketing and Business Development, Regulatory  Affairs and Global Quality compliance that opens pathways to reach out to new geographical terrains in Finished Formulations, API, Medical Devices, Clinical services and Pharma-focussed-Software domains.
        %p
          Synergene builds collaborative partnerships that helps companies’ possessing complementary skillsets grow through access to unique / niche / innovative product portfolio and new international markets.
      .span4
        %p
          Synergene bridges the most important aspect of cultural diversities and evolves synergistic alliances that complement market strengths with manufacturing expertise to improve partnership efficiencies in commercial or innovation terms and / or faster market reach. 
        %p
          Synergene undertakes insightful market assessment, spots promising opportunities and mobilizes most apt resources to create regulatory, distribution and sourcing pathways for unique / niche / innovative products in unpresented geographical territories of India, Europe, Canada, Australia-New Zealand, Asia Pacific, Middle-East and LatAm.
      / end .span4
      .span4
        / %img.responsive-img{:alt => "", :src => "_content/about-us/300x270.png"}/
        %img.responsive-img{:alt => "", src: "#{image_path("_content/team/logo_company_name.png")}"}
      / end .span4
    / end .row
    %br/

    .row
      .span12
        %h3.headline
          %span Meet the Team
      / end .span12
    / end .row
    .row
      .span4
        .team-member
          / %img{:alt => "", :src => "_content/team/255x300-1.png"}/
          %img{:alt => "", src: "#{image_path("_content/team/manish.png")}", :height => "255", :width => "255"}
          %br.clear/
          %h3 Mr. Manish Badonia
          %p Founder and Managing Director
          %p
            Manish is a techno-commercial professional who has spent 20+ years in developing global businesses in pharmaceutical and biotechnology domains deploying a mix of business models, products & geographies. 
          .social-media
            %a.facebook-icon.social-icon{:href => "#"}
              %i.fa.fa-facebook
            %a.twitter-icon.social-icon{:href => "#"}
              %i.fa.fa-twitter
            %a.googleplus-icon.social-icon{:href => "#"}
              %i.fa.fa-google-plus
            %a.pinterest-icon.social-icon{:href => "#"}
              %i.fa.fa-pinterest
          / end .social-media
        / end .team-member
      / end .span4
      .span4
        .team-member
          / %img{:alt => "", :src => "_content/team/255x300-2.png"}/
          %img{:alt => "", src: "#{image_path("_content/team/arvind.png")}", :height => "255", :width => "255"}
          %br.clear/
          %h3 Dr. Arvind K Mishra
          %p Project Mangaer
          %p
            Dr. Arvind K Mishra, a global quality, regulatory and strategy expert, has more than 3 decades of rich experience in Global Pharma Industry and looks after all Technical, GMP and Regulatory Affairs portfolio.
          .social-media
            %a.facebook-icon.social-icon{:href => "#"}
              %i.fa.fa-facebook
            %a.twitter-icon.social-icon{:href => "#"}
              %i.fa.fa-twitter
            %a.googleplus-icon.social-icon{:href => "#"}
              %i.fa.fa-google-plus
            %a.pinterest-icon.social-icon{:href => "#"}
              %i.fa.fa-pinterest
