#wrap
  #content
    / /// CONTENT  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    #page-header
      .row
        .span12
          %h2 Services
        / end .span12
      / end .row
    / end #page-header
    .row
      .span12
        %h3.headline
          %span Why Choose Our Services
      / end .span12
    / end .row
    .row
      .span8
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
        %blockquote
          %p{:style => "color:#0dac8b;"}
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
      / end span8
      .span4
        %ul.circle
          %li Lorem ipsum dolor sit, consectetur
          %li Proin eu sapien semper, consequat sapien
          %li Nunc sit amet lectus vel dui ornare moli
      / end span4
    / end .row
    %br/
    %br/
    .box-3{:style => "padding:60px 0;"}
      .row
        .span7
          / %img.responsive-img{:alt => "", :src => "_content/services/540x425.png"}/
          %img.responsive-img{:alt => "", src: "#{image_path("_content/services/540x425.png")}"}
        / end .span7
        .span5
          %br/
          %h2 Ad minim veniam
          %h3 Quis nostrud exercitation ullamco
          %br/
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.
          %br/
          %p.last
            %a.btn.btn-green-light{:href => "#"}
              See
              %strong More
        / end .span5
      / end .row
    / end .box-3
    .row
      .span12
        %h3.headline-2
          %span Services
      / end .span12
    / end .row
    .row
      .span4
        .icon-box-1
          %i.ifc-document
          .icon-box-content
            %h3
              %a{:href => "#"} Lorem ipsum dolor sit amet
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua ut enim.
          / end .icon-box-content
        / end .icon-box-1
      / end .span4
      .span4
        .icon-box-1
          %i.ifc-download2_filled
          .icon-box-content
            %h3
              %a{:href => "#"} Lorem dolor sit amet
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Proin eu sapien
              semper, consequat sapien sed, convallis ligula.
          / end .icon-box-content
        / end .icon-box-1
      / end .span4
      .span4
        .icon-box-1
          %i.ifc-copy
          .icon-box-content
            %h3
              %a{:href => "#"} Lorem ipsum dolor
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Proin eu sapien
              semper, consequat sapien sed, convallis ligula.
          / end .icon-box-content
        / end .icon-box-1
      / end .span4
    / end .row
    .row
      .span4
        .icon-box-1
          %i.ifc-briefcase_filled
          .icon-box-content
            %h3
              %a{:href => "#"} Dolor sit amet
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
          / end .icon-box-content
        / end .icon-box-1
      / end .span4
      .span4
        .icon-box-1
          %i.ifc-archive_filled
          .icon-box-content
            %h3
              %a{:href => "#"} Lorem ipsum dolor sit amet
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu sapien semper,
              consequat sapien sed, convallis ligula.
          / end .icon-box-content
        / end .icon-box-1
      / end .span4
      .span4
        .icon-box-1
          %i.ifc-brain_filled
          .icon-box-content
            %h3
              %a{:href => "#"} Ipsum dolor sit amet
            %p
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat sapien sed, convallis
              ligula. Nunc sit amet lectus vel dui ornare mollis.
          / end .icon-box-content
        / end .icon-box-1
      / end .span4
    / end .row
    %br/
    / .box{:style => "background-image:url(_content/backgrounds/bg-box-2.jpg); padding:30px 0 0 0;"}
    .box{:style => "background-image: url(#{image_path "_content/backgrounds/bg-box-2.jpg"}); padding:30px 0 0 0;"}
      .row
        .span6
          / %img.responsive-img{:alt => "", :src => "_content/services/400x455.png"}/
          %img.responsive-img{:alt => "", src: "#{image_path("_content/services/400x455.png")}"}
        / end .span6
        .span6
          %br/
          %br/
          %br/
          %br/
          %br/
          %br/
          %h1.float-left{:style => "font-size:180px; line-height:145px; padding-right:20px;"}
            / %img{:alt => "", :src => "_content/services/7.png"}/
            %img{:alt => "", src: "#{image_path("_content/services/7.png")}"}
          %h2 Years Of Experience
          %p
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
            beatae vitae dicta.
        / end .span6
      / end .row
    / end .box
    .row
      .span12
        %h3.headline
          %span Do you have Questions?
      / end .span12
    / end .row
    .row
      .span6
        .accordion
          .accordion-item
            %a.accordion-item-toggle{:href => "#"} Need a big plan?
            .accordion-item-content.fixed
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            / end .accordion-item-content
          / end .accordion-item
          .accordion-item
            %a.accordion-item-toggle{:href => "#"} Have a sugestion? We would like to hear it.
            .accordion-item-content.fixed
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            / end .accordion-item-content
          / end .accordion-item
        / end .accordion
      / end .span6
      .span6
        .accordion
          .accordion-item
            %a.accordion-item-toggle{:href => "#"} Have a question? Contact us now.
            .accordion-item-content.fixed
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            / end .accordion-item-content
          / end .accordion-item
          .accordion-item
            %a.accordion-item-toggle{:href => "#"} Not sure about our services?
            .accordion-item-content.fixed
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            / end .accordion-item-content
          / end .accordion-item
        / end .accordion
      / end .span6
    / end .row
    / ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  / end #content
/ end #wrap