#wrap
  #content
    / /// CONTENT  ///////////////////////////////////////////////////////////////////////////////////////////////////////////
    #page-header
      .row
        .span12
          %h2 Services
        / end .span12
      / end .row
    / end #page-header
    .row
      .span12
        %h3.headline
          %span Description of this service
      / end .span12
    / en .row
    .row
      .span8
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        %br/
        %blockquote{:style => "border-left-color:#484f5e;"}
          %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        %blockquote{:style => "border-left-color:#656d7d;"}
          %p
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
        %blockquote{:style => "border-left-color:#8f9bb2;"}
          %p
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
            quis nostrud exercitation.
      / end .span8
      .span4
        #diagram
        .get
          .arc
            %span.text jQuery
            %input.percent{:type => "hidden", :value => "75"}/
            %input.color{:type => "hidden", :value => "#535a6a"}/
          / end .arc
          .arc
            %span.text CSS3
            %input.percent{:type => "hidden", :value => "70"}/
            %input.color{:type => "hidden", :value => "#5a6171"}/
          / end .arc
          .arc
            %span.text HTML5
            %input.percent{:type => "hidden", :value => "95"}/
            %input.color{:type => "hidden", :value => "#656d7d"}/
          / end .arc
          .arc
            %span.text PHP
            %input.percent{:type => "hidden", :value => "75"}/
            %input.color{:type => "hidden", :value => "#687185"}/
          / end .arc
          .arc
            %span.text MySQL
            %input.percent{:type => "hidden", :value => "60"}/
            %input.color{:type => "hidden", :value => "#798399"}/
          / end .arc
          .arc
            %span.text Javascript
            %input.percent{:type => "hidden", :value => "30"}/
            %input.color{:type => "hidden", :value => "#8f9bb2"}/
          / end .arc
        / end .get
      / end .span4
    / end .row
    / .parallax{:style => "background-image:url(_content/backgrounds/bg-parallax.png);"}
    .parallax{:style => "background-image: url(#{image_path "_content/backgrounds/bg-parallax.png"})"}
      %br/
      %br/
      .row
        .span12
          .process-builder
            %ul.fixed
              %li.color-shade-2
                %span
                  %i.ifc-recycle_sign_filled
                .process-description
                  %h3
                    1. Creative
                    %strong Design
                / end .process-description
              %li.color-shade-3
                %span
                  %i.ifc-download2_filled
                .process-description
                  %h3
                    2. Unique
                    %strong Style
                / end .process-description
              %li.color-shade-1
                %span
                  %i.ifc-lock_filled
                .process-description
                  %h3
                    3. Retina
                    %strong Ready
                / end .process-description
              %li.color-shade-5
                %span
                  %i.ifc-megaphone_filled
                .process-description
                  %h3
                    4. Very
                    %strong Responsive
                / end .process-description
          / end .process-builder
        / end .span12
      / end .row
      %br/
    / end .parallax
    .row
      .span12
        %h3.headline-2
          %span Our Portfolio
      / end .span12
    / end .row
    = render "/sapphire/zoom"
    / ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  / end #content
/ end #wrap

