#footer-bottom
  / /// FOOTER BOTTOM  /////////////////////////////////////////////////////////////////////////////////////////////////////
  .row
    #footer-bottom-widget-area-1.span6
      .widget.widget_text
        .textwidget
          %p.last
            / %img.responsive-img{:alt => "", :src => "_layout/images/logo.png"}/
            %img.responsive-img{:alt => "", src: "#{image_path("_layout/images/logo.png")}"}/
            %span.hidden-tablet.hidden-phone Copyright © 2014 Sapphire INC
        / end .textwidget
      / end .widget_text
    / end .span6
    #footer-bottom-widget-area-2.span6.text-right
      .widget.ewf_widget_social_media
        .fixed
          
          %a.facebook-icon.social-icon{:href => "#"}
            %i.fa.fa-facebook
          %a.twitter-icon.social-icon{:href => "#"}
            %i.fa.fa-twitter
          %a.googleplus-icon.social-icon{:href => "#"}
            %i.fa.fa-google-plus
          %a.pinterest-icon.social-icon{:href => "#"}
            %i.fa.fa-pinterest
          %a.youtube-icon.social-icon{:href => "#"}
            %i.fa.fa-youtube
      
      / end .widget_social_media
    / end .span6
  / end .row
  / ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/ end #footer-bottom