#footer-middle
  / /// FOOTER MIDDLE  ////////////////////////////////////////////////////////////////////////////////////////////////
  .row
    #footer-middle-widget-area-1.span3
      .widget.widget_text
        %h3.widget-title
          %span About us
        .textwidget
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
            Estibulum non aliquam odio, vitae vehicula dolor.
          %p.last
            Sed congue ligula nisi, id tempor nibh tempor molestie. Duis interdum neque
            ligula, sit amet porttitor odio semper.
        / end .textwidget
      / end .widget_text
    / end .span3
    #footer-middle-widget-area-2.span3
      .widget.ewf_widget_blog-post
        %h3.widget-title
          %span Blog
        %ul.blog-post
          %li
            / %img{:alt => "", :src => "_content/footer/45x42-1.png"}/
            %img{:alt => "", src: "#{image_path("_content/footer/45x42-1.png")}"}/
            %p
              News
              %span 15.3.2014
            %p
              %a{:href => "#"} Aliquam aliquam pellentesque elit vel accumsan
          %li
            / %img{:alt => "", :src => "_content/footer/45x42-2.png"}/
            %img{:alt => "", src: "#{image_path("_content/footer/45x42-2.png")}"}/
            %p
              Media
              %span 9.2.2014
            %p
              %a{:href => "#"} Sed venenatis, nibh et commodo malesuada nibh
      / end .widget_blog-post
    / end .span3
    #footer-middle-widget-area-3.span3
      .widget.ewf_widget_contact_info
        %h3.widget-title
          %span Contact
        %address
          %strong Sapphire Offices
          %br/
          121th Street North East
          %br/
          Atlanta, GA 30309
          %br/
          %br/
          Phone: (012) 345-6789
          %br/
          Fax: (012) 456-7890
          %br/
          E-mail: office@sapphire.com
      / end .widget_contact_info
    / end .span3
    #footer-middle-widget-area-4.span3
      .widget.ewf_widget_newsletter
        %h3.widget-title
          %span Newsletter
        %p Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore aliqua.
        %form#newsletter-subscribe-form{:action => "#"}
          %fieldset
            %input{:name => "email", :placeholder => "email address...", :type => "text"}/
            %input{:name => "submit", :type => "submit", :value => "Go!"}/
      / end .widget_newsletter
    / end .span3
  / end .row
  / ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/ end #footer-middle