#footer-top
  .row
    #footer-top-widget-area-1.span12
      .widget.widget_text
        .textwidget
          .row
            .span9
              %h1.last
                Want
                %strong the best
                for your business?
            / end .span9
            .span3
              %a.btn.btn-black.btn-large{:href => "#"}
                Purchase
                %strong Now!
            / end .span3
          / end .row
        / end .textwidget
      / end .widget_text
    / end .span12
  / end .row
  / ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/ end #footer-top