#header-top
  / /// HEADER TOP  ////////////////////////////////////////////////////////////////////////////////////////////////////////
  .row
    #header-top-widget-area-1.span6
      .widget.widget_text
        .textwidget
          %p.last
            Contact info:  (+91) 942-664-9896, manish@synergene.in
        / end .text
      / end .widget_text
    / end .span6
    #header-top-widget-area-2.span6.text-right
      .widget.ewf_widget_social_media
        .fixed
          %a.linkedin-icon.social-icon{:href => "#"}
            %i.fa.fa-linkedin
      / end .widget_social_media
    / end .span6
  / end .row
  / ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/ end #header-top